.git
.gitignore
.gitattributes
.editorconfig
.env
.env.example
.env.docker
docker-compose.yml
Dockerfile
.dockerignore
README.md
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
tests
.phpunit.result.cache
phpunit.xml
